<ion-view style="background-color: rgb(27, 160, 254);" id="page2" title="Juakaly Soft Pro">
  <ion-nav-buttons class="has-header" side="left">
    <button class="button button-assertive icon ion-android-subway"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" padding="true">
    <h3 style="color: rgb(247, 242, 242);" id="juakalySoftPro-heading1">Juakaly Soft Pro</h3>
    <div class="show-list-numbers-and-dots" id="juakalySoftPro-markdown1">
      <p style="color:#D4F403;">Juakaly Pro Entertainment is a software development company specialized in developing both web and desktop application software using various modern technologies. JSPTM also offers various tutorials about computer programming with different technologies,
        computer graphic , 2D and 3D motion, Computer networking, Computer security, web design, and others like Hacking tutorials, all these may be found directly from our page, from links redirecting to our youtube channel, or even on our website,,,,,
        we are such a big community ,you can be one of us! Join us today and share your knowledge with the world.</p>
    </div>
    <div>
      <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/sNBERFgTQYWLdpaemw5o_jspacademialg.png">
    </div>
    <ion-slides style="width:100%;height:200px;" id="juakalySoftPro-slider1" disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1">
      <ion-slide-page style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;" id="juakalySoftPro-slide25"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;img/iq45fmxBSzGPbrgagTZH_1461840084288.jpg&quot;) no-repeat center;background-size:cover;" id="juakalySoftPro-slide24"></ion-slide-page>
      <ion-slide-page style="background:url(&quot;img/sSkKdYyNSSC1QTYM8U2H_KalyhoodPictures-31.jpg&quot;) no-repeat center;background-size:cover;" id="juakalySoftPro-slide26"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>