<ion-view style="" id="page6" title="Landing Page">
  <ion-content class="has-header" padding="true">
    <ion-list id="landingPage-list3">
      <ion-item style="" id="landingPage-list-item10" class="item-icon-left">
        <i class="icon ion-ionic"></i>Welcome To Heaven!</ion-item>
    </ion-list>
    <div class="show-list-numbers-and-dots" id="landingPage-markdown5">
      <p style="color:#000000;">Welcome To the Landing Page! You can feel at home, this is where you are supposed to be for now!
        <br>Now the next step will be to add more links to the real content , but as per now, this is an example of an Ionic Hybrid App, </p>

      <p style="color:#000000;">pretty cool, huh?</p>
    </div>
    <div class="button-bar" id="landingPage-button-bar1">
      <a class="button button-positive button-block" id="landingPage-button7" href="mailto:kjuakaly@gmail.com">JSP</a>
      <a class="button button-assertive button-block" id="landingPage-button8" href="mailto:alkataliko@gmail.com">OSP</a>
      <a class="button button-positive button-block" id="landingPage-button9" href="tel:+256756518078">C-TECH</a>
    </div>
    <div>
      <a href="mailto:kjuakaly@gmail.com" style="display:block;">
        <img style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" src="img/XTXPa0d7TNebEUXo11bW_2017-05-01-01-16-02-759m.jpg">
      </a>
    </div>
  </ion-content>
</ion-view>